#article-list {
    margin-bottom: 50px;
}

#content-sans-footer, footer {
    margin: 0 auto;
    max-width: 1200px;
}

#content-sans-footer {
    /* The default is 100% but let's make this a little less
     * extreme so that the footer still shows on pages with
     * little content */
    min-height: 90%;
}

p.cya {
    font-size: small;
}

.page-header a {
    color: #EC7600;

img.align-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
