<footer>
<div id="footer">
    <ul class="footer-content">
        {% if SITE_LICENSE %}
        <li class="elegant-license">{{ SITE_LICENSE }}</li>
        {% endif %}
        <li class="elegant-power">Powered by <a href="http://getpelican.com/" title="Pelican Home Page">Pelican</a>. Theme based on: <a href="http://oncrashreboot.com/pelican-elegant" title="Theme Elegant Home Page">Elegant</a> by <a href="http://oncrashreboot.com" title="Talha Mansoor Home Page">Talha Mansoor</a></li>
    </ul>
</div>
</footer>
